.cmn_blog_pager_custom > .page-numbers {
    --cmn-blog-pager-base-width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: var(--pad-80);
}
.page-numbers li {
    margin: 0 0.65%;
}
.page-numbers li .page-numbers {
    display: block;
    width: var(--cmn-blog-pager-base-width);
    height: var(--cmn-blog-pager-base-width);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: .813rem;
    line-height: var(--cmn-blog-pager-base-width);
    text-align: center;
    color: var(--main-color-tone);
    border-radius: 100%;
    border: 1px solid var(--main-color-tone);
    background-color: transparent;
    cursor: pointer;
    transition: .35s var(--img-trasition-func);
}

.page-numbers li .page-numbers:hover {
    opacity: .55;
}

.page-numbers li .page-numbers.next,
.page-numbers li .page-numbers.prev,
.page-numbers li .page-numbers.dots {
    border: none;
    font-size: 2rem;
    font-weight: 100;
}
.page-numbers li .page-numbers.prev {
    margin-right: 24px;
}
.page-numbers li .page-numbers.next {
    margin-left: 24px;
}
.page-numbers li .page-numbers.dots {
    margin-left: 1%;
    margin-right: 1%;
    line-height: 35px;
}
.page-numbers li .page-numbers.current {
    background-color: var(--main-color-tone);
    font-weight: 800;
    color: var(--white-tone);
}
.page-numbers li a.page-numbers.current {
    color: var(--white-tone);
}
.page-numbers li .page-numbers.current,
.page-numbers li .page-numbers.dots {
    pointer-events: none;
    cursor: default;
}

.salts_item_desc {
    white-space: normal;
}

.salts_item_desc p + p {
    margin-top: 1em;
}

.wysiwyg_format {
    white-space: normal;
}
.wysiwyg_format h2, .wysiwyg_format h3, .wysiwyg_format h4, .wysiwyg_format h5, .wysiwyg_format h6 {
    margin: 1em 0;
}

.wysiwyg_format img {
    height: auto;
}

.wysiwyg_format p {
    margin: 1em 0;
}

.wysiwyg_format br {
    display: block !important;
}

.sp_visible {
    display: none;
}

.sp_none {
    display: block;
}

@charset "UTF-8";
/* //MARK: H900 */
@media screen and (max-height: 900px) {
}
/* //MARK: H768 */
@media screen and (max-height: 768px) {
}

/* //MARK: 2080 */
@media screen and (min-width: 2080px) {

    /*----------------------------------------{ header }---*/
    /*----------------------------------------{ header aside }---*/
    /*----------------------------------------{ nav }---*/
    /*----------------------------------------{ footer }---*/
    /*----------------------------------------{ top }---*/
    /*---- top - first scene ---*/
    /* top - first scene (SVG element) */
    /* top - first scene (SVG element - sky) */
    /* top - first scene (SVG element - behindground) */
    /* top - first scene (SVG element - ground) */
    /* top - first scene (SVG element - fake couple) */
    /*---- top - instagram ---*/
    /*---- top - concept ---*/
    /*---- top - topic & campaign slider ---*/
    /*---- top - topic item's feature ---*/
    /*---- top - franchise ---*/
    /*---- top - recommended ---*/
    /*---- top - blog ---*/
    /*----------------------------------------{ inner - common }---*/
    /*----------------------------------------{ inner - about }---*/
    /* stage-1 */
    /* //stage-1 */
    /* stage-2 */
    /* //stage-2 */
    /* stage-3 */
    /* //stage-3 */
    /* stage-4 */
    /* //stage-4 */
    /* stage-5 */
    /* //stage-5 */
    /* stage-6 */
    /* //stage-6 */
    /* stage-7 */
    /* //stage-7 */
    /* stage-8 */
    /* //stage-8 */
    /*----------------------------------------{ inner - allstars }---*/
    /*----------------------------------------{ inner - blog }---*/
    /*----------------------------------------{ inner - journey }---*/

}

/* //MARK: 1680 */
@media screen and (max-width: 1680px) {
}

/* //MARK: 1366 */
@media screen and (max-width: 1366px) {
}

/* //MARK: 1280 */
@media screen and (max-width: 1281px) {
}

/* //MARK: 1024 *//*iPad PRO 12.9" up"*/
@media screen and (max-width: 1025px) {
    .salts_thumb_list {
        width: calc(100% / 3);
    }

    .salts_item_list {
        flex-direction: column;
    }

    .salts_item_info,
    .salts_item_images {
        width: 100%;
        padding: 20px 0;
    }
}

/* //MARK: 960 */
@media screen and (max-width: 961px) {
}

/* //MARK: 768 *//*iPad regular type"*/
@media screen and (max-width: 769px) {
}

/* //MARK: 640 */
@media screen and (max-width: 641px) {
    .cmn_blog_pager_custom > .page-numbers {
        --cmn-blog-pager-base-width: 28px;
        margin-top: var(--pad-60);
    }
    .page-numbers li {
        margin-left: 4px;
        margin-right: 4px;
        font-size: .75rem;
    }
    .page-numbers li .page-numbers {
        font-size: .75rem;
    }
    .page-numbers li .page-numbers.next,
    .page-numbers li .page-numbers.prev,
    .page-numbers li .page-numbers.dots {
        font-size: 2rem;
    }
    .page-numbers li .page-numbers.prev {
        margin-right: 12px;
    }
    .page-numbers li .page-numbers.next {
        margin-left: 12px;
    }
    .page-numbers li .page-numbers.dots {
        margin: 0;
        line-height: 28px;
    }

    .sp_visible {
        display: block;
    }

    .sp_none {
        display: none;
    }

    .salts_thumb_list {
        width: calc(100% / 2);
    }

    .salts_item_link {
        margin-left: 0;
    }


}

/* //MARK: 414 */
@media screen and (max-width: 415px) {
}

/* //MARK: 375 */
@media screen and (max-width: 389px) {
}

/* //MARK: 320 *//*iPhone or under 4.2"*/
@media screen and (max-width: 321px) {
}

/* //MARK: H736 *//*iPhone plus series(6~8)*/
@media screen and (max-height: 767px) {
}

/* //MARK: H667 *//*iPhone 6~8*/
@media screen and (max-height: 668px) {
}

