.cmn_blog_pager_custom > .page-numbers {
    --cmn-blog-pager-base-width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: var(--pad-80);
}
.page-numbers li {
    margin: 0 0.65%;
}
.page-numbers li .page-numbers {
    display: block;
    width: var(--cmn-blog-pager-base-width);
    height: var(--cmn-blog-pager-base-width);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: .813rem;
    line-height: var(--cmn-blog-pager-base-width);
    text-align: center;
    color: var(--main-color-tone);
    border-radius: 100%;
    border: 1px solid var(--main-color-tone);
    background-color: transparent;
    cursor: pointer;
}

.page-numbers li .page-numbers.next,
.page-numbers li .page-numbers.prev,
.page-numbers li .page-numbers.dots {
    border: none;
    font-size: 2rem;
    font-weight: 100;
}
.page-numbers li .page-numbers.prev {
    padding-right: 24px;
}
.page-numbers li .page-numbers.next {
    padding-left: 24px;
}
.page-numbers li .page-numbers.dots {
    margin-left: 1%;
    margin-right: 1%;
    line-height: 35px;
}
.page-numbers li .page-numbers.current {
    background-color: var(--main-color-tone);
    font-weight: 800;
    color: var(--white-tone);
}
.page-numbers li a.page-numbers.current {
    color: var(--white-tone);
}
.page-numbers li .page-numbers.current,
.page-numbers li .page-numbers.dots {
    pointer-events: none;
    cursor: default;
}


@media screen and (max-width: 641px) {
    .cmn_blog_pager_custom > .page-numbers {
        --cmn-blog-pager-base-width: 28px;
        margin-top: var(--pad-60);
    }
    .page-numbers li {
        margin-left: 4px;
        margin-right: 4px;
        font-size: .75rem;
    }
    .page-numbers li .page-numbers {
        font-size: .75rem;
    }
    .page-numbers li .page-numbers.next,
    .page-numbers li .page-numbers.prev,
    .page-numbers li .page-numbers.dots {
        font-size: 2rem;
    }
    .page-numbers li .page-numbers.prev {
        margin-right: 12px;
    }
    .page-numbers li .page-numbers.next {
        margin-left: 12px;
    }
    .page-numbers li .page-numbers.dots {
        margin: 0;
        line-height: 28px;
    }
}